@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}
nav {
    box-shadow: 0 5px 15px rgb(0 0 0 / 16%);;
    display: flex;
    margin-bottom: 20px;
    color: #fff;
    justify-content: space-between;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar {
    z-index: 999;
    position: sticky;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
    margin: 5px;
}
nav ul li {
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    border-bottom: #f1f1f1 2px solid;
    border-radius: 5px;
}
h1.logo{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; 
    margin: 5px;
}
img{
    
    object-fit: cover;
}
div.text {
    background: url(/static/images/banner1.jpg);
    background-size: cover;
    background-repeat: repeat;
    width: 1883px;
    height: 320px;
    text-align: center;
}
.about{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    margin-top: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecf0f1;
    border-radius: 10px;
    margin: 5px;
    border: #2c3e50 2px solid;
}
.about h3{
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.about p{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
.vacancies{
    margin: 10px;
}
.vacancies-head{
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.card {
    padding: 5px;
}
.card div.card-img-overlay h5{
    position: absolute;
    top: 50%;
    left: 38%;
    font-weight: 700;
    font-size: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}